/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:verdana, arial, helvetica, sans-serif;
}

a:hover{
	background-color: black;
	color:white;
}

p, a, table{
	font-size: 13px;
	color: #333333;
}

h2{
	padding-bottom: 15px;
}

span{
	font-weight: bold;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
/*共通*/
.bookers-content{
	margin: 33px;
	color: #333333;
}

.form{
	padding-bottom: 10px;
}

.flash{
	color: green;
	font-size: 13px;
	padding-left: 25px;
	padding-bottom: 15px;
}
/*共通*/

/*バリデーション処理*/
.error_explanation{
	width: 40%;
	border: 2px solid red;
}

.error_explanation p{
	color: white;
	background-color: #dc143c;
	font-weight: bold;
	padding: 3px 10px;
}

.erro_messages{
	background-color: #f5f5f5;
	padding: 30px 60px;
	font-size: 13px;
}

.field_with_errors{
	background-color: red;
	padding: 2px;
	display:table;
}
/*バリデーション処理*/

/*top*/
.top p{
	margin: 30px;
	line-height: 200%;
}

.top-start{
	margin-left: 30px;
}
/*top*/

/*index*/
.index-items{
	max-width: 850px;
	padding: 5px;
}

.index-items th{
	padding-bottom: 10px;
}

.index-items td{
	padding: 0 5px 10px 5px;
}

.index-link{
	padding-right: 7px;
}

.new-title{
	padding: 10px 0;
}
/*index*/

/*show*/
.show-content{
	padding-left: 25px;
	padding-bottom: 20px;
}

.show-content p{
	padding: 15px 0;
}

.show-links span{
	font-weight: normal;
	font-size: 12px;
}
/*show*/

/*edit*/
.edit-content{
	padding-bottom: 5px;
}

.edit-links span{
	font-weight: normal;
	font-size: 12px;
}
/*edit*/
